<div class="card mat-elevation-z1 bg-white">
  <div class="card-body">
    <form (ngSubmit)="submit()" #loginForm="ngForm">

      <br>

      <h1 class="display-4 text-center">Login</h1>
      
      <br>

      <div class="form-group">
        <label>Phone</label>

        <input type="text" class="form-control" placeholder="Enter Phone" [(ngModel)]="phone" name="phone" required #phoneField="ngModel">
        <div *ngIf="phoneField.invalid && (phoneField.dirty || phoneField.touched)" class="text-danger">
          <div *ngIf="phoneField.errors.required">
            Phone is required.
          </div>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Password</label>
        </div>
        <div class="col-auto small">
          <a routerLink="/forgotPassword">Forgot Password?</a>
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter Password" [(ngModel)]="password" name="password" required #passwordField="ngModel">
        <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="text-danger">
          <div *ngIf="passwordField.errors.required">
            Password is required.
          </div>
          <br>
        </div>
      </div>

      <br>
      
      <button class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid">Login</button>

      <br>

      <div class="text-center text-muted">
        Don't have an account?, <a routerLink="/register">Register</a>
      </div>
  
      <br>
    </form>
  </div>
</div>